.git
.gitignore
.venv
venv
__pycache__
**/__pycache__
*.pyc
.ipynb_checkpoints
.DS_Store
outputs
dataset
Midi_Converted
checkpoints
0_build_dict
1_data_binarisation
3_train_bart
4_infer_bart
*.pdf
fastapi_model_tester.html
test_inference.py
start.sh
